/* screen - vaccine-locations */

.vaccine-locations {
  background-color: var(--mercury);
  height: 1024px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.vaccine-locations .anowara-clinic-C9yn1z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .berala-serum-center-VXp5DA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-2oJVyB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-HCURIo {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-Qnc4MH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-WtUvSN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-pIjGy1 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .call-now-qlOx1x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 55px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .default-user-image-1-v9832d {
  background-color: transparent;
  height: 36px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 960px;
  width: 36px;
}
.vaccine-locations .ellipse-1-v9832d {
  background-color: transparent;
  height: 36px;
  left: 14px;
  position: absolute;
  top: 129px;
  width: 36px;
}
.vaccine-locations .ez-health-zFY7dT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .flex-row-tgJJXx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  margin-left: -1px;
  margin-top: 1px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.vaccine-locations .flex-row-vFG21x {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 10px;
  justify-content: flex-start;
  margin-left: 3px;
  margin-top: -1px;
  min-width: 17px;
  position: relative;
  width: auto;
}
.vaccine-locations .focussed-i19827260339-ZwxZGW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.16px;
  line-height: 26px;
  min-height: 26px;
  min-width: 335px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .frame-10-3q3PHw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 822px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-10-GRk1hk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 802px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-10-axrZvk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 828px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-10-g9FwwJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 838px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-10-ukPlZM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 800px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-10-xuWwJo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 777px;
  min-width: 53px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-17-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-18-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-19-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-20-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-21-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-22-WKyl3Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 1048px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-6-cAjYkj {
  align-items: center;
  background-color: var(--gallery);
  border: 2px solid var(--abbey);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 46px;
  justify-content: flex-start;
  margin-top: 8px;
  min-width: 1048px;
  padding: 0 15px;
  position: relative;
  width: auto;
}
.vaccine-locations .frame-8-CcEnn8 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 17px;
  min-height: 460px;
  padding: 24px 0;
  position: relative;
  width: 1096px;
}
.vaccine-locations .group-1-oxAPb3 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 19px;
  min-height: 60px;
  position: absolute;
  top: -19px;
  transform: rotate(90.00deg);
  width: 23px;
}
.vaccine-locations .group-10-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 206px;
  min-height: 494px;
  position: absolute;
  top: 236px;
  width: 1098px;
}
.vaccine-locations .group-2-v9832d {
  background-color: transparent;
  height: 44px;
  left: 33px;
  position: absolute;
  top: 27px;
  width: 62px;
}
.vaccine-locations .group-3-v9832d {
  background-color: transparent;
  height: 20px;
  left: 23px;
  position: absolute;
  top: 184px;
  width: 18px;
}
.vaccine-locations .group-4-v9832d {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: center;
  left: 22px;
  min-width: 20px;
  position: absolute;
  top: 138px;
  width: auto;
}
.vaccine-locations .group-5-v9832d {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 18px;
  position: absolute;
  top: 232px;
  width: 22px;
}
.vaccine-locations .group-8-3q3PHw {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 173px;
}
.vaccine-locations .group-8-GRk1hk {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 193px;
}
.vaccine-locations .group-8-axrZvk {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 167px;
}
.vaccine-locations .group-8-g9FwwJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 157px;
}
.vaccine-locations .group-8-ukPlZM {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 195px;
}
.vaccine-locations .group-8-xuWwJo {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 218px;
}
.vaccine-locations .group-9-1Stffc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .group-9-AHc1tt {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .group-9-Tr72Ts {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .group-9-tx27Tb {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .group-9-xj6Qsd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .group-9-y6HERV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  min-width: 55px;
  position: relative;
  width: auto;
}
.vaccine-locations .input-i19827260337-cAjYkj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  min-width: 63px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .jabber-i1982506548-oxAPb3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.9px;
  position: absolute;
  text-align: left;
  top: 27px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .lidcombe-private-hospital-HilaHq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .line-1-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 1048px;
}
.vaccine-locations .line-2-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 1048px;
}
.vaccine-locations .line-3-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 1048px;
}
.vaccine-locations .line-4-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 1048px;
}
.vaccine-locations .line-5-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 1048px;
}
.vaccine-locations .priceline-pharmacy-EZACTy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .r-g-health-sjcXXX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .rectangle-1-tQhKpJ {
  background-color: var(--bittersweet);
  flex-shrink: 1;
  height: 27px;
  margin-left: -8.97px;
  margin-top: -62px;
  position: relative;
  width: 14px;
}
.vaccine-locations .rectangle-10-C61RwL {
  background-color: var(--mercury);
  height: 1024px;
  left: 66px;
  position: absolute;
  top: 0px;
  width: 1376px;
}
.vaccine-locations .rectangle-3-v9832d {
  background-color: var(--gallery);
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.vaccine-locations .rectangle-6-v9832d {
  background-color: transparent;
  height: 123px;
  left: -13px;
  position: absolute;
  top: -11px;
  width: 154px;
}
.vaccine-locations .sidebar-closed-C61RwL {
  background-color: transparent;
  height: 1024px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 128px;
}
.vaccine-locations .text-input-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 71px;
  justify-content: flex-start;
  left: 230px;
  overflow: hidden;
  position: absolute;
  top: 76px;
  width: 1048px;
}
.vaccine-locations .vaccine-locations-CcEnn8 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 969px;
}
.vaccine-locations .vector-Fru0G0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 18px;
}
.vaccine-locations .vector-KKLd96 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 0px;
  position: relative;
  width: 6px;
}
.vaccine-locations .vector-LU8Wxp {
  background-color: transparent;
  height: 6px;
  left: 12px;
  position: absolute;
  top: -1px;
  width: 2px;
}
.vaccine-locations .vector-Ri9xx9 {
  background-color: transparent;
  height: 20px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 20px;
}
.vaccine-locations .vector-hxXIgf {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}
.vaccine-locations .vector-mwbllv {
  background-color: transparent;
  height: 6px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 2px;
}
.vaccine-locations .vector-oxiYxY {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 7px;
  width: 20px;
}
.vaccine-locations .vector-tQhKpJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 3.82px;
  margin-top: 10px;
  position: relative;
  transform: rotate(-90.00deg);
  width: 60px;
}
.vaccine-locations .vector-vJslbB {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-top: -1px;
  position: relative;
  width: 22px;
}
.vaccine-locations .vector-xaJSzx {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 1px;
  position: relative;
  width: 5px;
}
.vaccine-locations .x14-ford-lane-berala-nsw-C9yn1z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .x2-redfern-lane-auburn-nsw-HilaHq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .x301-gallipoli-road-auburn-nsw-zFY7dT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .x33-broad-lane-berala-nsw-EZACTy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .x44-kent-street-berala-nsw-VXp5DA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.vaccine-locations .x72-tweed-steet-lidcombe-nsw-sjcXXX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
