@use "../../../../assets/styles/abstracts/fonts";
@use "../../../../assets/styles/abstracts/colors";

.profile {
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 3px solid colors.$bg-90;
    }

    .details {
      margin-left: 1.5rem;

      h5 {
        margin: 0 0 0.5rem;
        text-align: left;
      }

      p {
        @include fonts.label;

        color: colors.$bg-70;
        margin: 0;
        text-align: left;
      }
    }
  }
}
