.content {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
  }

  &.centered {
    .inner {
      align-items: stretch;
      height: auto;
    }
  }
}
