@use '../../../assets/styles/abstracts/colors';
@use '../../../assets/styles/abstracts/fonts';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  .label {
    @include fonts.label;

    color: colors.$bg-80;
    margin: 0 0 1rem 0;
  }

  .card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background: colors.$bg-20;
    box-shadow: colors.$small-shadow;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      text-align: center;
    }

    &.single {
      padding: 2rem;
      border-radius: 2rem;
    }

    &.packed {
      padding: 1.5rem;
      border-radius: 1rem;
    }

    :first-child {
      margin-top: 0;
    }
  }
}
