// Background Colors

$bg-20: #f8f9fa;
$bg-30: #e9ecef;
$bg-40: #dee2e6;
$bg-50: #ced4da;
$bg-60: #adb5bd;
$bg-70: #6c757d;
$bg-80: #495057;
$bg-90: #343a40;
$bg-100: #212529;

// Bittersweet Red

$bittersweet-80: #ff8686;
$bittersweet-90: #f77;
$bittersweet-100: #ff6868;
$bittersweet-110: #e65e5e;
$bittersweet-120: #cc5353;

// Shadows

$small-shadow: 0 2px 15px -2px rgba(33, 37, 41, 0.1);
