
.yourProfile {
  .iconFullName{
    .userIcon {
      float: left;
      width: 20%;
      border-radius: 50%;
      border: 3px solid;
      margin-right: -150px;
      ;
    }
    .userFullName{
      margin-left: auto;
      top: 10px;
      line-height: 1px;
      margin-top: 30px;
      margin-left: 130px;
      text-align: left;
    }
    .certified{
      margin-top: -10px;
      color: #6C757D;
      text-align: left;
      margin-left: 135px;
    }
  }
  .line{
    border-top: 1px solid; 
    width: 90%;
  }
  .inputField{
    margin-top: 10px;
    
    .inputHeader{
      color: #6C757D;
      text-align: left;
      margin-left: 17px;
      margin-bottom: 10px;
    }
    .inputValue{
      margin-left:10px;
      width: 95%;
      padding: 10px;
    }
  }
  .button{
    margin-top: 40px;
    margin-left: 15px;
    width: 95%;
  }
  
}
.certificationProfile{
  .textCertification{
    float: left;
  }
  .QRCODE{
    float: right;
    width: 30%;
  }
}
