@use '../../../assets/styles/abstracts/fonts';
@use '../../../assets/styles/abstracts/colors';

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    @include fonts.label;

    color: colors.$bg-100;
    margin-bottom: 0.5rem;
  }

  input {
    @include fonts.h6;
    @include fonts.regular;

    color: colors.$bg-100;
    padding: 0.625rem 0.9375rem;
    background: colors.$bg-30;
    border: 1px solid colors.$bg-50;
    border-radius: 0.625rem;
    outline: 0;
    transition: padding 0.2s ease, border 0.2s ease;

    &:focus {
      padding: calc(0.625rem - 1px) calc(0.9375rem - 1px);
      border: 2px solid colors.$bg-80;
    }

    &::placeholder {
      color: colors.$bg-60;
    }

    &.error {
      color: colors.$bittersweet-110;
      padding: calc(0.625rem - 1px) calc(0.9375rem - 1px);
      border: 2px solid colors.$bittersweet-110;
    }
  }
}
