/* screen - dashboard */

.dashboard {
  background-color: var(--mercury);
  height: 1024px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.dashboard .alerts-CcEnn8 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 602px;
}
.dashboard .button-9xrm2N {
  align-items: center;
  background-color: var(--roman-2);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 92px;
  padding: 0 18px;
  position: relative;
  width: auto;
}
.dashboard .button-pFCoMA {
  align-items: center;
  background-color: var(--roman-2);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 108px;
  padding: 0 18px;
  position: relative;
  width: auto;
}
.dashboard .button-rSzUxj {
  align-items: center;
  align-self: center;
  background-color: var(--roman-2);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-end;
  margin-top: 24px;
  min-width: 332px;
  padding: 0 18px;
  position: relative;
  width: auto;
}
.dashboard .confusing-qld-c-ew-byron-alerts-HcuGbW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-top: 9px;
  min-height: 34px;
  position: relative;
  text-align: left;
  width: 242px;
}
.dashboard .courier-mail-szhHxk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 242px;
}
.dashboard .daily-cases-Kf1B69 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}
.dashboard .default-user-image-1-v9832d {
  background-color: transparent;
  height: 36px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 960px;
  width: 36px;
}
.dashboard .doses-issued-2xqY0F {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-left: 1.33px;
  min-height: 17px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 181px;
}
.dashboard .ellipse-1-v9832d {
  background-color: transparent;
  height: 36px;
  left: 14px;
  position: absolute;
  top: 129px;
  width: 36px;
}
.dashboard .ellipse-12-7mL27H {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}
.dashboard .ellipse-12-PpnC15 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}
.dashboard .ellipse-2-9X3Sxx {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-2-Ah9cRg {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-2-J9H3Ls {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-2-W1n27d {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-2-c3UdKR {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-2-hHhov2 {
  background-color: transparent;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.dashboard .ellipse-3-9X3Sxx {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .ellipse-3-Ah9cRg {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .ellipse-3-J9H3Ls {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .ellipse-3-W1n27d {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .ellipse-3-c3UdKR {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .ellipse-3-hHhov2 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.dashboard .flex-row-tgJJXx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  margin-left: -1px;
  margin-top: 1px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.dashboard .flex-row-vFG21x {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 10px;
  justify-content: flex-start;
  margin-left: 3px;
  margin-top: -1px;
  min-width: 17px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-FNTiWm {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-eSgGmv {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-flxxwg {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-hsbfnK {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-seLc2E {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-10-zlWIY2 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-left: 261px;
  min-width: 201px;
  position: relative;
  width: auto;
}
.dashboard .frame-13-5uzh1e {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 77px;
  position: relative;
  width: 240px;
}
.dashboard .frame-13-TQAdHx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
  width: 240px;
}
.dashboard .frame-13-lMyebc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 60px;
  position: relative;
  width: 240px;
}
.dashboard .frame-17-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-18-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-19-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-20-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-21-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-22-QVreL4 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-23-8Gk4WY {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 64px;
  justify-content: flex-start;
  min-width: 332px;
  position: relative;
  width: auto;
}
.dashboard .frame-24-8Gk4WY {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 77px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 332px;
  position: relative;
  width: auto;
}
.dashboard .frame-25-8Gk4WY {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 64px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 332px;
  position: relative;
  width: auto;
}
.dashboard .frame-26-XSdUX6 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 133px;
  justify-content: flex-start;
  min-width: 634px;
  position: relative;
  width: auto;
}
.dashboard .frame-44-WKyl3Y {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-start;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-46-WKyl3Y {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 632px;
  position: relative;
  width: auto;
}
.dashboard .frame-7-bAyQtV {
  align-items: flex-end;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 152px;
  padding: 24px 22px;
  position: relative;
  width: 380px;
}
.dashboard .frame-8-5LnI0L {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 17px;
  min-height: 496px;
  padding: 24px 0;
  position: relative;
  width: 680px;
}
.dashboard .frame-8-CcEnn8 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 17px;
  min-height: 160px;
  padding: 24px 0;
  position: relative;
  width: 680px;
}
.dashboard .frame-8-WQXeF1 {
  align-items: flex-start;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 133px;
  justify-content: flex-start;
  margin-top: 17px;
  min-width: 680px;
  padding: 0 23px;
  position: relative;
  width: auto;
}
.dashboard .frame-9-xFApRQ {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 16px;
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 317px;
  padding: 24px 0;
  position: relative;
  width: 380px;
}
.dashboard .group-1-oxAPb3 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 19px;
  min-height: 60px;
  position: absolute;
  top: -19px;
  transform: rotate(90.00deg);
  width: 23px;
}
.dashboard .group-10-6WHqFd {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-10-C1yHqB {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-10-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 204px;
  min-height: 194px;
  position: absolute;
  top: 255px;
  width: 682px;
}
.dashboard .group-10-KEW80I {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-10-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 204px;
  min-height: 530px;
  position: absolute;
  top: 473px;
  width: 682px;
}
.dashboard .group-10-nKjP4i {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-10-pwcdGH {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-11-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 920px;
  min-height: 185px;
  position: absolute;
  top: 64px;
  width: 382px;
}
.dashboard .group-12-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 920px;
  min-height: 350px;
  position: absolute;
  top: 273px;
  width: 382px;
}
.dashboard .group-13-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 204px;
  min-height: 167px;
  position: absolute;
  top: 64px;
  width: 682px;
}
.dashboard .group-14-MiOPih {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 63px;
  position: relative;
  width: 184px;
}
.dashboard .group-15-MiOPih {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 63px;
  position: relative;
  width: 184px;
}
.dashboard .group-16-MiOPih {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 63px;
  position: relative;
  width: 184px;
}
.dashboard .group-2-v9832d {
  background-color: transparent;
  height: 44px;
  left: 33px;
  position: absolute;
  top: 27px;
  width: 62px;
}
.dashboard .group-24-9xrm2N {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 34px;
}
.dashboard .group-24-pFCoMA {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 34px;
}
.dashboard .group-3-v9832d {
  background-color: transparent;
  height: 20px;
  left: 23px;
  position: absolute;
  top: 184px;
  width: 18px;
}
.dashboard .group-4-v9832d {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: center;
  left: 22px;
  min-width: 20px;
  position: absolute;
  top: 138px;
  width: auto;
}
.dashboard .group-5-v9832d {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 18px;
  position: absolute;
  top: 232px;
  width: 22px;
}
.dashboard .group-7-DLslqq {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-left: 27px;
  position: relative;
  width: 50px;
}
.dashboard .group-8-FNTiWm {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-8-eSgGmv {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-8-flxxwg {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-8-hsbfnK {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-8-seLc2E {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-8-zlWIY2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  position: relative;
  width: 170px;
}
.dashboard .group-9-6WHqFd {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .group-9-C1yHqB {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .group-9-DLslqq {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .group-9-KEW80I {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .group-9-nKjP4i {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .group-9-pwcdGH {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 36px;
  position: relative;
  width: 126px;
}
.dashboard .high-9X3Sxx {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .high-Ah9cRg {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .high-J9H3Ls {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .high-W1n27d {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .high-c3UdKR {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .high-hHhov2 {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.10px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.dashboard .jabber-i701306548-oxAPb3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16.9px;
  position: absolute;
  text-align: left;
  top: 27px;
  white-space: nowrap;
  width: auto;
}
.dashboard .line-1-QVreL4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-1-WKyl3Y {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-2-QVreL4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-3-8Gk4WY {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 332px;
}
.dashboard .line-3-QVreL4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-4-8Gk4WY {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 332px;
}
.dashboard .line-4-QVreL4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-5-QVreL4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 15px;
  position: relative;
  width: 632px;
}
.dashboard .line-6-MiOPih {
  background-color: transparent;
  flex-shrink: 1;
  height: 133px;
  margin-left: 18px;
  position: relative;
  width: 2px;
}
.dashboard .line-7-MiOPih {
  background-color: transparent;
  flex-shrink: 1;
  height: 133px;
  margin-left: 18px;
  position: relative;
  width: 2px;
}
.dashboard .new-case-detect-contact-us-now-pFCoMA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 14px;
  min-height: 40px;
  position: relative;
  text-align: left;
  width: 462px;
}
.dashboard .past-check-ins-5LnI0L {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 602px;
}
.dashboard .quick-stats-WQXeF1 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 602px;
}
.dashboard .recent-news-xFApRQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 302px;
}
.dashboard .rectangle-1-tQhKpJ {
  background-color: var(--bittersweet);
  flex-shrink: 1;
  height: 27px;
  margin-left: -8.97px;
  margin-top: -62px;
  position: relative;
  width: 14px;
}
.dashboard .rectangle-10-C61RwL {
  background-color: var(--mercury);
  height: 1114px;
  left: 63px;
  position: absolute;
  top: 0px;
  width: 1377px;
}
.dashboard .rectangle-11-5uzh1e {
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-left: 28px;
  object-fit: cover;
  position: relative;
  width: 64px;
}
.dashboard .rectangle-11-TQAdHx {
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-left: 28px;
  object-fit: cover;
  position: relative;
  width: 64px;
}
.dashboard .rectangle-11-lMyebc {
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-left: 28px;
  object-fit: cover;
  position: relative;
  width: 64px;
}
.dashboard .rectangle-3-v9832d {
  background-color: var(--gallery);
  box-shadow: 0px 2px 15px rgba(33,37,41,0.1);;
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.dashboard .rectangle-6-v9832d {
  background-color: transparent;
  height: 123px;
  left: -13px;
  position: absolute;
  top: -11px;
  width: 154px;
}
.dashboard .rollout-estimate-bAyQtV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 302px;
}
.dashboard .sidebar-closed-C61RwL {
  background-color: transparent;
  height: 1024px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 128px;
}
.dashboard .small-i20362360279-2IGSLA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  min-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 70px;
}
.dashboard .small-i20363260279-otah1z {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  min-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 54px;
}
.dashboard .small-i71160279-ljoW3q {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  min-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 294px;
}
.dashboard .span0-DbZ2Au {
  color: rgba(33,37,41,1.0);
  font-family: 'Montserrat', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02px;
}
.dashboard .span1-DbZ2Au {
  color: rgba(33,37,41,1.0);
  font-family: 'Montserrat', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02px;
}
.dashboard .span2-DbZ2Au {
  color: rgba(33,37,41,1.0);
  font-family: 'Montserrat', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02px;
}
.dashboard .staff-at-a-seco-k-expands-to-15-V5GYsm {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-top: 9px;
  min-height: 51px;
  position: relative;
  text-align: left;
  width: 242px;
}
.dashboard .the-daily-telegraph-HcuGbW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 242px;
}
.dashboard .the-sun-V5GYsm {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 242px;
}
.dashboard .to-get-your-rol-your-situation-rSzUxj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  min-height: 40px;
  position: relative;
  text-align: center;
  width: 334px;
}
.dashboard .toowoomba-cafe-sitive-to-covid-szhHxk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-top: 9px;
  min-height: 34px;
  position: relative;
  text-align: left;
  width: 242px;
}
.dashboard .total-cases-rEdoqw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-left: 1.33px;
  min-height: 17px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 181px;
}
.dashboard .varus-cafe-1UQ1z8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .varus-cafe-JWIvUx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .varus-cafe-jEVSoL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .varus-cafe-m1dUa8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .varus-cafe-qHIUA3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .varus-cafe-stpn0M {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.dashboard .vector-Fru0G0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 18px;
}
.dashboard .vector-KKLd96 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-left: 0px;
  position: relative;
  width: 6px;
}
.dashboard .vector-LU8Wxp {
  background-color: transparent;
  height: 6px;
  left: 12px;
  position: absolute;
  top: -1px;
  width: 2px;
}
.dashboard .vector-Ri9xx9 {
  background-color: transparent;
  height: 20px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 20px;
}
.dashboard .vector-hxXIgf {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 10px;
}
.dashboard .vector-mwbllv {
  background-color: transparent;
  height: 6px;
  left: 4px;
  position: absolute;
  top: -1px;
  width: 2px;
}
.dashboard .vector-oxiYxY {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 7px;
  width: 20px;
}
.dashboard .vector-tQhKpJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-left: 3.82px;
  margin-top: 10px;
  position: relative;
  transform: rotate(-90.00deg);
  width: 60px;
}
.dashboard .vector-vJslbB {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-top: -1px;
  position: relative;
  width: 22px;
}
.dashboard .vector-xaJSzx {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 1px;
  position: relative;
  width: 5px;
}
.dashboard .visited-6th-feb-2020-7C4Is4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .visited-6th-feb-2020-Bfvxbx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .visited-6th-feb-2020-EHkIDe {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .visited-6th-feb-2020-hTlZNy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .visited-6th-feb-2020-i8dD0U {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .visited-6th-feb-2020-oOU3sA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  min-height: 17px;
  min-width: 124px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x-7mL27H {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x-PpnC15 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x12-Kf1B69 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.64px;
  line-height: 42px;
  margin-top: 4px;
  min-height: 42px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}
.dashboard .x1235pm-149pm-7C4Is4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x1235pm-149pm-Bfvxbx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x1235pm-149pm-EHkIDe {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x1235pm-149pm-hTlZNy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x1235pm-149pm-i8dD0U {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x1235pm-149pm-oOU3sA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.12px;
  line-height: 17px;
  margin-right: 2px;
  margin-top: 2px;
  min-height: 17px;
  min-width: 104px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: auto;
}
.dashboard .x29296-rEdoqw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.64px;
  line-height: 42px;
  margin-top: 4px;
  min-height: 42px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}
.dashboard .x523034-2xqY0F {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.64px;
  line-height: 42px;
  margin-top: 4px;
  min-height: 42px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}
.dashboard .x7-cough-lane-epping-nsw-1UQ1z8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x7-cough-lane-epping-nsw-JWIvUx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x7-cough-lane-epping-nsw-jEVSoL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x7-cough-lane-epping-nsw-m1dUa8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x7-cough-lane-epping-nsw-qHIUA3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .x7-cough-lane-epping-nsw-stpn0M {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.12px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: auto;
}
.dashboard .you-will-soon-b-ith-authorities-9xrm2N {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.14px;
  line-height: 20px;
  margin-left: 14px;
  min-height: 40px;
  position: relative;
  text-align: left;
  width: 478px;
}
